<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css'>
<h1>Login Page</h1>
<div>
    <form class="loginform">
        <label>
            Email id
            <span class="form-required"> *</span>
        </label>
        <div>
            <input type="text" id='emailid' name="emailid" placeholder='name@example.com' required>
        </div>
        <label>
            Password
            <span class="form-required"> *</span>
        </label>
        <div>
            <input type="password" id='password' name="password" required>
        </div>
        <div className='submit-btn'>
            <button type='submit' className='btn' id='btn'>Login</button>
        </div>
    </form>
</div>


